* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: rgb(78, 23, 125);
    font-family: "Nunito Sans", Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #eadca0;
}

#company-name a {
    margin: 0;
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(78, 23, 125);
}

#nav-links a {
    margin-left: 1.25rem;
    text-decoration: none;
    transition: all .25s ease-out;
}

#nav-links a:hover,
#nav-links a:focus,
#nav-links a:active {
    color: white;
    border-bottom: .5rem solid white;
}

main {
    text-align: center;
}

footer {
    background-color: #eadca0;
    text-align: center;
    padding: 1em 0;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}